@media (min-width: 768px) and (max-width: 1280px) {


    .flex-container > div {
      width: calc( ( 100vw / 2 ) - 10px ); /* - 10px want 5px margin bij elke yes??*/
      margin: 5px;
      line-height: 30px;
    }

    #logo {
      width:80%;
        margin-top: -6%;
        margin-bottom: -8%;
    }

    section {
      padding: 10px;
      margin: 10px;
        border: 5px #003A60 solid;
      /* margin-bottom: -5px; */
      margin-top: -5px;
    }

}
